._local {
	margin-bottom: 24px;
	width: 100%;

	:global {
		.schedule_wrap {
			.table {
				border-spacing: 2px;
				border-collapse: separate;

				thead {
					tr {
						th {
							padding: 9px 0;
							border-radius: 6px;
							background-color: var(--color_bg_nav);
							color: var(--color_title);
						}
					}
				}

				tbody {
					tr {
						td {
							padding: 9px 0;
							border-radius: 6px;
							background-color: var(--color_bg_nav);
							text-align: center;
						}
					}
				}
			}
		}
	}
}
