._local {
	width: 100%;

      &.compact{
            table {
                  border-spacing: 0 !important;
                  border-collapse: collapse !important;
                  border-right: 1px solid #000000;
                  border-bottom: 1px solid #000000;

                  thead {
                        tr {
                              th {
                                    padding: 6px;
                                    border-left: 1px solid #000000;
                                    border-top: 1px solid #000000;
                              }
                        }
                  }

			tbody {
				tr {
					td {
                                    height: unset !important;
                                    padding: 0;
						border: none !important;
                                    border-radius: 0 !important;
                                    border-left: 1px solid #000000 !important;
                                    border-top: 1px solid #000000 !important;
					}
				}
			}
		}
      }

	&.inline {
		margin-bottom: 20px;
		border-radius: 6px;
		background-color: var(--color_bg_nav);

		table {
			thead {
				tr {
					th {
						padding-top: 12px;
						padding-bottom: 12px;
						border-bottom: 1px solid fade(white, 6%);
						background-color: transparent;
					}
				}
			}
		}

		table {
			tbody {
				tr {
					td {
						border: none;
						background-color: transparent !important;

						&:first-child,
						&:last-child {
							border: none;
						}

						&:last-child {
							padding-right: 20px;
						}
					}
				}
			}
		}
	}
}

.header {
	margin-bottom: 8px;

	:global {
		.table_title {
			color: var(--color_text);
			font-weight: 700;
			font-size: 12.6px;
		}

		.btn_add {
			padding: 0;
			width: auto;
			height: 20px;
			border: none;
			font-size: 12.6px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
