._local {
	display: flex;
	align-items: center;
	width: 100%;

	:global {
		.edit_text {
			display: flex;
		}

		.left_wrap {
			margin-right: 9px;

			.ant-image-img {
				border-radius: 50% !important;
			}
		}

		.right_wrap {
			.name {
				font-weight: bold;
			}

			.desc {
				font-size: 12px;
			}
		}
	}
}
