.rcp-light {
	--rcp-background: #ffffff;
	--rcp-input-text: #111111;
	--rcp-input-border: rgba(0, 0, 0, 0.1);
	--rcp-input-label: #717171;
}

.rcp-dark {
	--rcp-background: #181818;
	--rcp-input-text: #f3f3f3;
	--rcp-input-border: rgba(255, 255, 255, 0.1);
	--rcp-input-label: #999999;
}

.rcp {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background-color: var(--rcp-background);
}

.rcp-body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;

	gap: 20px;
}

.rcp-saturation {
	position: relative;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-image: linear-gradient(transparent, black),
		linear-gradient(to right, white, transparent);

	user-select: none;
}

.rcp-saturation-cursor {
	position: absolute;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
	transform: translate(-10px, -10px);
}

.rcp-hue {
	position: relative;
	width: 100%;
	height: 12px;
	border-radius: 10px;
	background-image: linear-gradient(
		to right,
		rgb(255, 0, 0),
		rgb(255, 255, 0),
		rgb(0, 255, 0),
		rgb(0, 255, 255),
		rgb(0, 0, 255),
		rgb(255, 0, 255),
		rgb(255, 0, 0)
	);

	user-select: none;
}

.rcp-hue-cursor {
	position: absolute;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
	transform: translate(-10px, -4px);
}

.rcp-alpha {
	position: relative;
	width: 100%;
	height: 12px;
	border-radius: 10px;

	user-select: none;
}

.rcp-alpha-cursor {
	position: absolute;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
	transform: translate(-10px, -4px);
}

.rcp-fields {
	display: grid;
	width: 100%;

	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
}

.rcp-fields-element {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

	gap: 5px;
}

.hex-element {
	grid-row: 1;
}

.hex-element:nth-child(3n) {
	grid-column: 1 / -1;
}

.rcp-fields-element-input {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	outline: none;
	border: 2px solid;
	border-color: var(--rcp-input-border);
	border-radius: 5px;
	background: none;
	color: var(--rcp-input-text);
	text-align: center;
	font-weight: 600;
	font-size: 14px;
}

.rcp-fields-element-label {
	color: var(--rcp-input-label);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
